<h2>Your account</h2>

<p>
  <b>Login:</b>
  <%= @user.login.blank? && raw('<em>n/a</em>') || @user.login %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email.blank? && raw('<em>n/a</em>') || @user.email %>
</p>

<%= link_to 'Edit account details', edit_account_path %>

<h2>Access tokens</h2>

<ul>
  <% @user.access_keys.each do |access_key| %>
    <li><%= link_to access_key.service, access_key_path(access_key) %></li>
  <% end %>
</ul>

<ul>
  <li><%= link_to 'Add a LinkedIn connection', oauth_authorize_path(:service => 'LinkedIn') %></li>
  <li><%= link_to 'Add a Facebook connection', oauth_authorize_path(:service => 'Facebook') %></li>
</ul>